<h2>Edit badge</h2>

<%= render "form.html", changeset: @changeset,
                        action: project_badge_path(@conn, :update, @badge, @project) %>

<%= link "Back", to: project_badge_path(@conn, :index, @project) %>
